@import "tailwindcss";

@keyframes wapda-loader {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(75%);
  }

  100% {
    transform: translateX(220%);
  }
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  appearance: textfield;
  -moz-appearance: textfield;
}
